.up {
	padding: 0px;
	margin: 0px;
	min-height: 15%;
	max-height: 15%;
} 


.ms-btn {
	padding: 0px;
	margin-top:10px;
	margin-bottom:10px;
	font-size: 40px;
	min-height: 35%;
	max-height: 35%;
} 

.description {
	font-size:20px;
}

.measurement {
	padding-top:8px;
	padding-bottom:8px;
	margin-bottom: 5px;
	text-align:center;
	font-size:40px;
}
